.App {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Wrapper {
  display: grid;
  border: 1px solid #000;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
}

.Cell {
  padding: 0;
  width: 64px;
  height: 64px;
  outline: none;
  background: none;
  border: 1px solid #000;
  cursor: pointer;
}

.Cell > img {
  max-width: 100%;
  object-fit: contain;
}

button:disabled {
  pointer-events: none;
  user-select: none;
}

.Cell:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.EndGame {
  display: none;
}
